.breadcrumb {
  margin: 0;
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-top: 2rem;
  li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: 1.1rem;
      color: #525252;
    }
  }
}
.theme-btn {
  border-radius: 2rem;
  background: #f00;
  color: #ffffff;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  outline: 0 !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  &:hover,
  &:focus,
  &:active {
    background: #f50707;
    color: #ffffff;
  }
}
.prod-detail-layout-section {
  position: relative;
  padding: 2rem 0;
  .product-title {
    color: var(--gray-900, #1e212c);
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 77.448px */
  }
  .product-detail-block {
    display: flex;
    gap: 1.5rem;
    .prod-img-gallery {
      display: flex;
      flex-direction: column;
      width: 50%;
      figure img {
        border-radius: 0.5rem;
      }
      .prod-img-list {
        display: flex;
        justify-content: flex-start;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 1rem;
        li {
          scroll-snap-align: center;
          min-height: 6rem;
          min-width: 6rem;
          img {
            opacity: 0.6;
          }
        }
      }
    }
    .prod-information {
      width: 50%;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .price-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price-box {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5rem;
          .current-price {
            color: #f11;
            font-family: "Lato", sans-serif;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
          }
          .original-price {
            color: var(--gray-700, #787a80);
            font-family: "Lato", sans-serif;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 300;
            line-height: 150%; /* 52.1px */
            text-decoration-line: strikethrough;
          }
          .offer-pill {
            border-radius: 5.39px;
            background: #fe1818;
            color: #ffffff;
            font-size: 1rem;
            padding: 0.3rem;
          }
        }
      }
      .rating-box {
        color: var(--gray-700, #787a80);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        .starbox {
          display: flex;
          gap: 0.1rem;
          svg {
            height: 1rem;
            width: 1rem;
          }
        }
      }
      .quantity {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        label {
          color: var(--gray-800, #424551);
          font-size: 0.9rem;
        }
        .form-select {
          border-radius: 0.5rem;
          border: 1.295px solid var(--gray-400, #d7dadd);
          background: var(--white, #fff);
          height: 3rem;
          width: 100% !important;
          max-width: 20rem;
          appearance: auto;
        }
      }
      .cart-info {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        input[type="number"] {
          padding: 0 1rem;
          width: 8rem;
        }
        .theme-btn {
          border-radius: 0.4rem;
          background: #f00;
          color: #ffffff;
          display: flex;
          gap: 0.5rem;
          padding: 0.5rem 2rem;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          outline: 0 !important;
          border: none !important;
          box-shadow: none !important;
          font-size: 1.1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          width: calc(50% - 5rem);
          &:hover,
          &:focus,
          &:active {
            background: #f50707;
            color: #ffffff;
          }
        }
        .secondary-btn {
          border-radius: 0.4rem;
          background: transparent;
          color: #3f3f3f;
          display: flex;
          gap: 0.5rem;
          padding: 0.5rem 2rem;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          outline: 0 !important;
          box-shadow: none !important;
          font-size: 1.1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          width: calc(50% - 5rem);
          border: 1px solid #3f3f3f !important;
          &:hover,
          &:focus,
          &:active {
            border: 1px solid #f00 !important;
            background: #f00;
            color: #ffffff;
          }
        }
      }
      .overview {
        h4 {
          color: var(--gray-900, #1e212c);
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 600;
          line-height: 160%;
        }
        p {
          color: var(--gray-900, #1e212c);

          font-size: 0.95rem;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
        }
      }
      .availability {
        position: relative;
        border-top: 1.238px solid #e5e8ed;
        border-bottom: 1.238px solid #e5e8ed;
        padding: 1.5rem 0;
        h4 {
          color: var(--gray-900, #1e212c);
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 600;
          line-height: 160%;
        }
        .availability-block {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          gap: 1rem;
          .input-box {
            position: relative;
            width: auto;
            display: flex;
            padding: 0.4rem 1rem 0.4rem 1rem;
            border-radius: 0.8rem;
            border: 1px solid #000;
            background: rgba(255, 255, 255, 0);
            input[type="text"] {
              background: transparent;
              border: none;
              padding: 0 0.5rem;
              height: 2rem;
              width: 100%;
            }
          }
          .theme-btn {
            max-width: 2.8rem;
            padding: 0;
            height: 2.8rem;
            font-size: 1.5rem;
          }
        }
      }
      .share-product {
        color: var(--gray-900, #1e212c);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.8rem;
        font-size: 1.1rem;
        svg {
          color: #787a80;
        }
      }
    }
  }
}
